name: CI

on:
  pull_request:
    branches:
      - master
  push:
    branches:
      - master

jobs:
  checks:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [16.x, 18.x, 20.x]

    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          cache: "npm"

      - name: Install packages
        run: npm ci

      - name: Build
        run: npm run build

      # No need to have the generated content up-to-date, but its content must be complete
      - name: Verify documentation content
        run: npm run docs:update

      - name: Lint
        run: npm run lint

      - name: Tests
        run: npm run test:coverage -- --ci
