name: Release & Publish

on:
  push:
    branches:
      - master

permissions:
  id-token: write # Required for OIDC

jobs:
  job:
    # Ignore the heap-code bot commits + and devDependencies # TODO: better
    if: ${{ github.actor != vars.HC_BOT && !(contains(github.event.head_commit.message, 'chore(deps):')) }}

    runs-on: ubuntu-latest
    env:
      GITHUB_TOKEN: ${{ secrets.HC_TOKEN }}

    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
          token: ${{ secrets.HC_TOKEN }}
      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          cache: "npm"
          node-version: 24.x
          registry-url: https://registry.npmjs.org/

      - name: Install packages
        run: npm ci

      - name: Generate code coverage summary
        run: npm run test:coverage -- --ci --coverageReporters json-summary

      - name: Generating coverage badges
        uses: jpb06/jest-badges-action@latest
        with:
          coverage-summary-path: ./coverage/coverage-summary.json
          no-commit: true
          output-folder: ./.badges/code/

      - name: Set default code coverage badge
        run: cp .badges/code/coverage-jest\ coverage.svg .badges/code/coverage.svg

      - name: Set git config
        run: |
          git config user.name "heap-code[bot]"
          git config user.email "${{ vars.HC_BOT }}@users.noreply.github.com"

      - name: Add badges
        run: git add .badges/

        # NPM pre-publish
      - name: Clean for build
        run: rm -rf dist/
      - name: Build
        run: npm run build

      - name: Release and publish
        run: npx release-it --ci --no-git.requireCleanWorkingDir
        env:
          # https://github.com/release-it/release-it/blob/HEAD/docs/npm.md#trusted-publishing-oidc
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
